* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: #292929;
}

.title-bar {
  padding: 20px;
  background-image: url(./images/RPS\ img.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  z-index: 2;
}
.tit {
  z-index: 1;
  color: white;
  text-align: center;
}
.score-counter {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.score-owner {
  margin: 20px;
}

.flex-right {
  margin-right: auto;
}
.score {
  font-weight: 600;
  background-color: #111113;
  font-size: 50px;
  border: 3px solid #111113;
  padding: 10px 30px;
  border-radius: 4px;
}

.game-body {
  margin-top: 20px;
  text-align: center;
}

button {
  background-color: green;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 15px;
  margin-bottom: 30px;
}

button.rock {
  background-color: #fb57c6;
}
button.paper {
  background-color: #ffff75;
  color: black;
}
button.scissors {
  background-color: #40a4f7;
  color: black;
}

.played {
  display: flex;
  justify-content: space-evenly;
  color: red;
  margin-bottom: 20px;
  font-weight: 600;
}

img {
  width: 130px;
  height: 130px;
}

.images {
  display: flex;
  justify-content: space-evenly;
}

.img1 {
  rotate: 70deg;
  display: none;
}
.img2 {
  rotate: -70deg;
  display: none;
}
.img3 {
  rotate: -70deg;
  display: none;
}

.winner {
  text-align: center;
  color: green;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  text-align: center;
  width: 100%;
}
thead {
  font-weight: 600;
}
td {
  padding: 5px;
  border: 1px solid black;
}
